.classes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 2rem;
  }
  
  .class-card {
    background-color: white;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
  
    h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  
    p {
      font-size: 1rem;
      color: #555;
    }
  }
  