@import 'base/variables';
@import 'base/mixins';
@import 'base/functions';

@import 'components/header';
@import 'components/footer';

@import 'pages/classes';
@import 'pages/contact';
@import 'pages/home';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    flex-grow: 1;
  }